body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a{
  // Remove the underline for the Link
  text-decoration: none;
  color:black;

}

*{ 
  //so that there will be consistent padding around all edges 
  box-sizing: border-box;
}